<!-- <ion-item>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/device/{{device.id}}">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <ion-icon [name]="device.icon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Sensor {{device.id}} - {{device.name}}</h2>      
      <p>{{device.location}}</p>
    </ion-label>
  </ion-toolbar>
</ion-item> -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/tabs">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Device - {{device.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>Acá deberia traer mas información del dispositivo y su medida del sensor</div>
  <div>
      {{device.location}}
  </div>

</ion-content>
