<!-- <ion-item>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/device/{{device.id}}">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <ion-icon [name]="device.icon"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Sensor {{device.id}} - {{device.name}}</h2>      
      <p>{{device.location}}</p>
    </ion-label>
  </ion-toolbar>
</ion-item> -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/tabs">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Device Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <!-- <ion-item routerLink="/gauge" routerDirection="root">  -->
  <!-- <app-gauge></app-gauge>   -->
  <!-- </ion-item> -->
  <div id="highcharts" style="width:100%; height:400px;"></div>
  <ion-button type="button" expand="block" color="primary">
    OPEN VALVE
  </ion-button>
  <!-- <ion-button type="button" expand="block" color="primary">
    CLOSE VALVE
  </ion-button> -->
  <ion-button type="button" expand="block" color="primary" fill="outline">
    MESSURE INFO
  </ion-button>
  <ion-button type="button" expand="block" color="primary" fill="outline">
    SPRAY LOGS
  </ion-button>
</ion-content>
