<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button routerLink="/tabs">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title appTitle>Device Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">  
  <!-- <ion-item routerLink="/gauge" routerDirection="root">  -->
  <!-- <app-gauge></app-gauge>   -->
  <!-- </ion-item> -->
  <div id="highcharts" style="width:100%; height:300px;"></div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="!isOpen; else close">
          <ion-button type="button" color="primary" (click)="changeState()" style="width:300px;">
            OPEN VALVE
          </ion-button>
        </div> 
        <ng-template #close>
          <div>
            <ion-button type="button" color="primary" (click)="changeState()" style="width:300px;">
              CLOSE VALVE
            </ion-button>
          </div> 
        </ng-template>
        

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-button type="button" color="primary" fill="outline" style="width:300px;" (click)="messureInfo()">
            MESSURE INFO
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-button type="button"  color="primary" fill="outline" style="width:300px;" (click)="sprayInfo()">
            SPRAY LOGS
          </ion-button>
        </div>  
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
