<!-- <ion-header>
  <ion-toolbar>
    <ion-title>gauge</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center"> -->
        <div id="highcharts" style="width:100%; height:400px;"></div>
        <ion-button type="button" expand="block" color="primary">
          OPEN VALVE
        </ion-button>
        <!-- <ion-button type="button" expand="block" color="primary">
          CLOSE VALVE
        </ion-button> -->
        <ion-button type="button" expand="block" color="primary" fill="outline">
          MESSURE INFO
        </ion-button>
        <ion-button type="button" expand="block" color="primary" fill="outline">
          SPRAY LOGS
        </ion-button>
      <!-- </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
