<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>List Devices</ion-title>
    </ion-toolbar>    
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let device of listSvc.listadoDispositivos" routerLink="/device/{{device.id}}" routerDirection="root">
        <ion-avatar slot="start">
            <ion-icon size="large" [name]="device.icon"></ion-icon>
        </ion-avatar>
        <ion-label>
            <h2>Sensor {{device.id}} - {{device.name}}</h2>
            <h3>
                <ion-icon name="pin"></ion-icon> {{device.location}}</h3>
        </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngFor="let item of deviceArray">        
          <app-device [device]="item" (onChange)="handlerChange($event)"></app-device>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-button class="ion-content" expand="full" (click)="logout()">Logout</ion-button>
</ion-content>


