<ion-header no-border>
  <ion-toolbar>
    <ion-title>modal-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">
  <ion-list style="width:300px; margin:0 auto;">
    <!-- <ion-item *ngFor="let log of logList" routerLink="/device/{{device.dispositivoId}}"> -->
      <ion-label>
        <h2>{{nombre}} -- {{pais}}</h2>        
      </ion-label>
    <!-- </ion-item> -->
  </ion-list>
  <ion-button color="primary" expand="full" (click)="outModal()">
    EXIT
  </ion-button>
</ion-content>
